<footer class="footer py-4 js-page-footer">
  <div class="main">
    <div class="footer__author-links">
      {%- include author-links.html author=site.author -%}

      <!-- ✅ RSS Feed Icon -->
      <a href="{{ '/feed.xml' | relative_url }}" 
         target="_blank" 
         title="RSS Feed" 
         style="margin-left: 8px; color: orange;">
        <i class="fas fa-rss"></i>
      </a>
    </div>

    <div class="site-info mt-2" style="text-align:center;">
      © {{ site.time | date: "%Y" }} by, Sayak Majumder
    </div>
  </div>
</footer>
